<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <body>
  <section class="h-100">
    <div class="container h-100">
      <div class="row justify-content-sm-center h-100">
        <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
          <div class="text-center my-5">
            <%= image_tag 'bootstrap.png', class: 'w-25' %>
          </div>
          <div class="card shadow-lg">
            <div class="card-body p-5">
              <h1 class="fs-4 card-title fw-bold mb-4">Login</h1>
              <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'needs-validation', novalidate: '' }) do |f| %>
                <div class="mb-3">
                  <%= f.label :email, class: "mb-2 text-muted" %>
                  <%= f.email_field :email, class: "form-control" %>
                </div>

                <div class="mb-3">
                  <div class="mb-2 w-100">
                    <%= f.label :password, class: "text-muted" %>
                    <%= link_to t("devise.passwords.new.forgot_password"), new_user_password_path, class: "float-end" %>
                  </div>
                  <%= f.password_field :password, class: "form-control" %>
                </div>

                <div class="d-flex align-items-center">
                  <%= f.submit "Login", class: "btn btn-primary ms-auto" %>
                </div>
              <% end %>
            </div>
            <div class="card-footer py-3 border-0">
              <div class="text-center">
                Don't have an account? <%= link_to "Create One", new_user_registration_path %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

<% end %>