
   <div class="card mx-auto mt-3 px-2 rounded-0 border-0 border-bottom" style="width: 100%; height: 250px; ">
      <div class="row no-gutters"  style="width: 105%;">
         <div class="col-xs-12 col-sm-4 col-lg-4 px-2  ">
            <div id="imageCarousel" class="card-img" data-ride="carousel">
               <% if restaurant.images.attached? %>
               <div class="carousel-inner">
                  <% restaurant.images.each_with_index do |image, index| %>
                  <div class="carousel-item <%= 'active' if index.zero? %>">
                     <%= image_tag image, class: "card-img", alt: "Restaurant Image" %>
                     <a class="carousel-control-prev" href="#imageCarousel" role="button" data-slide="prev" style="left: 10px;">
                     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                     <span class="sr-only"></span>
                     </a>
                     <a class="carousel-control-next" href="#imageCarousel" role="button" data-slide="next" style="right: 20px;">
                     <span class="carousel-control-next-icon" aria-hidden="true"></span>
                     <span class="sr-only"></span>
                     </a>
                  </div>
                  <% end %>
               </div>
               <% else %> <%= image_tag "default-restaurant-image.jpg", class: "card-img", alt: "Restaurant Image" %> <% end %>
            </div>
         </div>
         <div class=" col-xs-10 col-sm-7 col-lg-7 px-4">
            <div class="card-body pb-0 ">
               
               <h5 class="card-title mb-1">
                  <a href="<%= restaurant_url(restaurant) %>" class="custom-link" style="color: black; text-decoration: none;">
                  <%= restaurant.name %>
                  
                  </a>
                  
               </div>
               </h5>
               
               <!--rating stars-->
               <% restaurant.overall_rating.to_i.times do%>
               <i class="bi bi-star-fill red"></i>
               <% end %> <% (5-restaurant.overall_rating.to_i).times do%>
               <i class="bi bi-star-fill gray"></i>
               <% end %>
               <div class="text-secondary" style="font-size: 14px;">
                 
                  <!--price range-->
                  <% restaurant.price_range.to_i.times do%>
                  <i class="bi bi-currency-dollar"></i>
                  <% end %>
                  <i class="bi bi-dot"></i>
                   <div class="hover-box " style="display: inline-block; padding: 5px 10px; border-radius: 5px; font-weight: bold; color: black; font-size: 14px;">
                     <%= restaurant.cuisine %>
                  </div>
                  <%= restaurant.address %>
               </div>
               <p></p>
               <div class="text-secondary" style="font-size: 14px;">
                  
               </div>
            </div>
         </div>
      </div>
<!--col no padding-->
<style>
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
</style>
<!--card body size-->

<!--card image size-->

<style>
@media (min-width: 1200px) {
  .card-img {
    width: 100%;
    height: 230px;
    margin-left: 5px;
    margin-top: 5px;
    object-fit: cover;
  }
}

@media (max-width: 1199.98px) {
  .card-img {
     width: 100%;
    height: 230px;
    margin-left: 5px;
    margin-top: 5px;
    object-fit: cover;
  }
}

@media (max-width: 999.98px) {
  .card-img {
    width: 100%;
    height: 120px;
    margin-left: 0px;
    margin-right: 0px;

  }
}
</style>       
<!--card title size-->

<style>
@media (min-width: 1200px) {
  .card-title {
    font-size: 40px;
  }
}

@media (max-width: 1199.98px) {
  .card-title {
    font-size: 30px;
  }
}

@media (max-width: 999.98px) {
  .card-title {
    font-size: 18px;
  }
}
</style>
<!--card hover-->

<style>
  .card {
    transition: box-shadow 0.3s;
  }
  .card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .custom-link {
    color: black;
    text-decoration: none;
    position: relative;
  }

  .custom-link:hover {
    text-decoration: none;
  }

  .custom-link:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px; /* Increase the height for a bolder underline */
    background-color: black;
    position: absolute;
    bottom: 2px; /* Adjust the bottom value to bring the underline closer to the letters */
    left: 0;
  }

  .red{
    color: #DC3545;
  }

  .gray{
    color: #D3D3D3;
  }

</style>


<script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.5.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

<script>
  $(document).ready(function() {
    // Enable the carousel functionality
    $("#imageCarousel").carousel();

    // Handle carousel navigation
    $(".carousel-control-prev").click(function() {
      $("#imageCarousel").carousel("prev");
    });

    $(".carousel-control-next").click(function() {
      $("#imageCarousel").carousel("next");
    });
  });
</script>