<div class="row">
 <div class="col">
   <div class="card mt-3 rounded-0 border-0 border-bottom" style="width: 100%; height: 300px;  border-radius: 10px; border-bottom: 10px;">
  <div class="row no-gutters">
    <div class="col-md-4" >
<div id="imageCarousel" class="carousel slide" data-ride="carousel">
  <% if restaurant.images.attached? %>
    <div class="carousel-inner">
      <% restaurant.images.each_with_index do |image, index| %>
        <div class="carousel-item <%= 'active' if index.zero? %>">
          <%= image_tag image, class: "card-img", alt: "Restaurant Image" %>
          <a class="carousel-control-prev" href="#imageCarousel" role="button" data-slide="prev" style="left: 10px;">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
          </a>
          <a class="carousel-control-next" href="#imageCarousel" role="button" data-slide="next" style="right: 20px;">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
          </a>
        </div>
      <% end %>
    </div>
  <% else %>
    <%= image_tag "Restaurant_Näsinneula.jpg", class: "card-img", alt: "Restaurant Image" %>
  <% end %>
</div>
        </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title mb-1" style="font-size: 40px;">
          <a href="<%= restaurant_url(restaurant) %>" class="custom-link" style="color: black; text-decoration: none;">
            <%= restaurant.name %>
          </a>
        </h5>
         <% restaurant.overall_rating.to_i.times do%>
       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
</svg>
 <% end %>
 
           <% (5-restaurant.overall_rating.to_i).times do%>
       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
  <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
</svg>
    <% end %>
        <div class="text" style="font-size: 14px;">
          <div class="hover-box shadow-sm rounded border" style="display: inline-block; padding: 5px 10px; border-radius: 5px; font-weight: bold;">
            <%= restaurant.cuisine %>
          </div>
          



           <div class="hover-box mb-1 mt-1 shadow-sm rounded border" style="display: inline-block; padding: 5px 10px; border-radius: 5px; font-weight: bold;">
           <%= restaurant.price_range %>
          </div>
          <div class="hover-box mb-1 mt-1 shadow-sm rounded border" style="display: inline-block; padding: 5px 10px; border-radius: 5px; font-weight: bold;">
          <%= restaurant.address %>
          </div>
          <div class="hover-box mb-1 mt-1 shadow-sm rounded border" style="display: inline-block; padding: 5px 10px; border-radius: 5px; font-weight: bold;">
          <%= restaurant.website %>
          </div>
          
        </div>
        <p></p>
        <div class="text-secondary" style="font-size: 14px;">
         Comments: <p></p>
        </div>
      </div>
    </div>
    </div>
  </div>
<!--card hover-->
<style>
.ratings i{
    
    color:#cecece;
    font-size:32px;
}

.rating-color{
    color:#fbc634 !important;
}
  .card {
    transition: box-shadow 0.3s;
  }
  .card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .card-img {
    width: 400px;
    height: 265px;
    margin-left: 25px;
    margin-top: 15px;
    object-fit: cover;
  }
  .custom-link {
    color: black;
    text-decoration: none;
    position: relative;
  }

  .custom-link:hover {
    text-decoration: none;
  }

  .custom-link:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px; /* Increase the height for a bolder underline */
    background-color: black;
    position: absolute;
    bottom: 2px; /* Adjust the bottom value to bring the underline closer to the letters */
    left: 0;
  }

</style>


<script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.5.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

<script>
  $(document).ready(function() {
    // Enable the carousel functionality
    $("#imageCarousel").carousel();

    // Handle carousel navigation
    $(".carousel-control-prev").click(function() {
      $("#imageCarousel").carousel("prev");
    });

    $(".carousel-control-next").click(function() {
      $("#imageCarousel").carousel("next");
    });
  });
</script>