<div class="row">
   <div class="card mb-1 shadow" style="width: 100%; height: 300px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="" class="card-img" alt="Restaurant Image">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title mb-1" style="font-size: 40px;"><%= restaurant.name %></h5>
        <div class="text" style="font-size: 14px;">
          <div class="hover-box" style="display: inline-block; background-color: #a3a3a0; padding: 5px 10px; border-radius: 5px;">
            <%= restaurant.cuisine %>
          </div>
          <div class="hover-box" style="display: inline-block; background-color: #a3a3a0; padding: 5px 10px; border-radius: 5px;">
            Overall Rating: <%= restaurant.overall_rating %>
          </div>
           <div class="hover-box" style="display: inline-block; background-color: #a3a3a0; padding: 5px 10px; border-radius: 5px;">
           Price Range: <%= restaurant.price_range %>
          </div>
          <div class="hover-box" style="display: inline-block; background-color: #a3a3a0; padding: 5px 10px; border-radius: 5px;">
          <%= restaurant.address %>
          </div>
          <div class="hover-box" style="display: inline-block; background-color: #a3a3a0; padding: 5px 10px; border-radius: 5px;">
          <%= restaurant.website %>
          </div>
          
        </div>
        <p></p>
        <div class="text-secondary" style="font-size: 14px;">
         Comments: <p></p>
        </div>
        <a href="<%= restaurant_url(restaurant) %>" class="btn btn-primary">View Details</a>
      </div>
    </div>
  </div>
