
<body style="background-color: #FFFFFF;">
   <div class="row g-0" style="margin-left: 0px;">
      <div class="col-md-12">
            <!-- Filters section -->
            <!-- Place your filters content here -->
               <% cuisines = Set.new %>
                  <% @restaurants.each do |restaurant| %>
                     <% cuisines.add(restaurant.cuisine) %>
                  <% end %> 
                        <div class="card border-0 overflow-x-auto ms-2 mt-2" style="width: 100%;">
                           <div class="row flex-nowrap">
                              <% cuisines.each do |cuisine| %>   
                                 <div class="col-auto">
                                       <input type="radio" class="btn-check" name="options" id='<%= cuisine %>' value="<%= cuisine %>" autocomplete="off">
                                       <label class="btn btn-outline-secondary border-0" for="<%= cuisine %>"><%= image_tag "#{cuisine}.png", class: "filter-img", alt: "Restaurant Image" %>
                                          <figcaption class="figure-caption"><%= cuisine %></figcaption>
                                       </label>
                                 </div>   
                              <%end%>
                           </div>
                        </div>
                        <%= render '/restaurants/partials/price'%>
                        <%= render '/restaurants/partials/rating'%>
                        <div class="card border-0 overflow-x-auto ms-2 mt-2" style="width: 100%;">
                           <div class="row flex-nowrap">
                              <div class="col-auto">        
                                 <button type="button" class="btn border-0 rounded-5"  style=' background-color:#E8E8E8; '  data-bs-toggle="modal" data-bs-target="#priceModal">
                                    Price
                                 </button>
                              </div>
                              <div class="col-auto">       
                                 <button type="button" class="btn border-0 rounded-5" style=' background-color:#E8E8E8; ' data-bs-toggle="modal" data-bs-target="#ratingModal">
                                    Ratings
                                 </button>
                              </div>
                              <div class="col-auto">       
                                 <button type="button" class="btn border-0 rounded-5" style=' background-color:#E8E8E8; ' data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    Dietary
                                 </button>
                                 </div>
                              <div class="col-auto">       
                                 <button type="button" class="btn border-0 rounded-5" style=' background-color:#E8E8E8; ' data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    Sort
                                 </button>
                              </div>
                              <!--! -->                        
                           </div>
                        </div>
                     <!-- <button type="button" class="btn-clear rounded-pill border-0 align-items-center" style="width: 70%;" value="ALL" >Clear All Filters</button> -->
      </div>
      <div class="col-md-12">
         <!-- Restaurants section -->
         <div id="restaurants" >
            <%= render partial: 'restaurants/partials/restaurant', collection: @restaurants.select { |restaurant| restaurant.keep == true }, as: :restaurant %>

         </div>
      </div>
   </div>
</body>

<!--resturant filter-->
<%=javascript_include_tag 'resturant_index'%>

<style>
@media (max-width: 3000px) {
  .filter-img {
    width: 70  px;
    height: 50px;
  }
}
@media (min-width: 1200px) {
  .card {
    align-items: center;
  }
}
</style>