<body style="background-color: #FFFFFF;">
   <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="sticky-top" style="z-index:50;">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Filters
          </button>
        </h2>
      </div>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body" style=" background-color:white;">
          <div class="row g-0 justify-content-md-center" style="margin-left: 0px;">
          <div class="col-auto d-none d-lg-block mt-3 justify-content-end">
             <div class="d-flex  justify-content-end">
                <input type="btn" class="btn-check " id='sildeLeft' value="Left" autocomplete="off">
                <label class= "btn border-0" for='sildeLeft'>
                   <h2><i class="bi bi-arrow-left-square-fill" style="color:gray;"></i></h2>
                </label>
             </div>
          </div>
          <div class="col-lg-8 col-auto">
             <!-- Filters section -->
             <!-- Place your filters content here -->
             <% cuisines = Set.new %>
             <% @restaurants.each do |restaurant| %>
             <% cuisines.add(restaurant.cuisine) %>
             <% end %>  
             <div class="card border-0 overflow-x-scroll mt-2 justify-content-start" id="sildefilter" style="width: 100%;">
                <div class="row flex-nowrap" >
                   <% cuisines.each do |cuisine| %>   
                   <div class="col-auto">
                      <input type="radio" class="btn-check" name="options" id='<%= cuisine %>' value="<%= cuisine %>" autocomplete="off">
                      <label class="btn btn-outline-secondary border-0" for="<%= cuisine %>">
                         <%= image_tag "#{cuisine}.png", class: "filter-img", alt: "Restaurant Image" %>
                         <figcaption class="figure-caption"><%= cuisine %></figcaption>
                      </label>
                   </div>
                   <%end%>
                </div>
             </div>
             <%= render '/restaurants/partials/price'%>
             <%= render '/restaurants/partials/rating'%>
             <div class="card border-0 overflow-x-auto mt-2 align-items-center" style="width: 100%;">
                <div class="row flex-nowrap">
                   <div class="col-auto">        
                      <button type="button" class="btn border-0 rounded-5"  style=' background-color:#E8E8E8; '  data-bs-toggle="modal" data-bs-target="#priceModal">
                      Price
                      </button>
                   </div>
                   <div class="col-auto">       
                      <button type="button" class="btn border-0 rounded-5" style=' background-color:#E8E8E8; ' data-bs-toggle="modal" data-bs-target="#ratingModal">
                      Ratings
                      </button>
                   </div>
                   <div class="col-auto">       
                      <button type="button" class="btn border-0 rounded-5" style=' background-color:#E8E8E8; ' data-bs-toggle="modal" data-bs-target="#exampleModal">
                      Dietary
                      </button>
                   </div>
                   <div class="col-auto">       
                      <button type="button" class="btn border-0 rounded-5" style=' background-color:#E8E8E8; ' data-bs-toggle="modal" data-bs-target="#exampleModal">
                      Sort
                      </button>
                   </div>
                   <!--! -->                        
                </div>
             </div>
             <!-- <button type="button" class="btn-clear rounded-pill border-0 align-items-center" style="width: 70%;" value="ALL" >Clear All Filters</button> -->
          </div>
          <div class="col-auto d-none d-lg-block mt-3 justify-content-end">
             <div class="d-flex  justify-content-start">
                <input type="btn" class="btn-check " id='sildeRight' value="Right" autocomplete="off">
                <label class= "btn" for='sildeRight'>
                   <h2><i class="bi bi-arrow-right-square-fill" style="color:gray;"></i></h2>
                </label>
             </div>
          </div>
       </div>
          </div>
        </div>
      </div>

   <div class="col-md-12">
      <!-- Restaurants section -->
         <div id="restaurants" >
            <%= render partial: 'restaurants/partials/restaurant', collection: @restaurants.select { |restaurant| restaurant.keep == true }, as: :restaurant %>
         </div>
      </div>
   </div>
</body>

<!--resturant filter-->
<%=javascript_include_tag 'resturant_index'%>

<style>
@media (max-width: 3000px) {
  .filter-img {
    width: 70  px;
    height: 50px;
  }
}
@media (min-width: 1600px) {
  
  .card {
    align-items: center;
  }
}
 .card::-webkit-scrollbar {
   display: none;
}
.accordion-button:focus {
    box-shadow: none;
    background-color: white;
    border-color: rgba(0,0,0,.125);
}
.accordion-button:not(.collapsed){
      box-shadow: none;
    background-color: white;
    border-color: rgba(0,0,0,.125);
}
.modal-backdrop.fade {
    opacity: 0;
}
.modal-backdrop {
    --bs-backdrop-zindex: 0;
}
</style>