
<section class="h-100">
  <div class="container h-100">
    <div class="row justify-content-sm-center h-100">
      <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
        <div class="text-center my-5">
          <%= image_tag 'halalbytes-logo.png', style: 'width: 158px;' %>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="contact-card">  
    <%= form_with(model: @restaurant, url: request_create_restaurants_path, id: 'restaurant-request-form', local: true) do |form| %>
    <% if @restaurant.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being requested:</h2>

        <ul>
          <% @restaurant.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div>
      <%= form.label :address, style: "display: block" %>
      <%= form.text_field :address, class: "form-control" %>
    </div>

    <div>
      <%= form.label :phone, style: "display: block" %>
      <%= form.telephone_field :phone, class: "form-control", id: "phone_field" %>
    </div>

    <div>
      <%= form.label :website, style: "display: block" %>
      <%= form.text_field :website, class: "form-control", value: @restaurant.website.blank? ? 'www.' : @restaurant.website %>
    </div>

    <div>
      <%= form.label :cuisine, style: "display: block" %>
      <%= form.select :cuisine, 
                options_for_select([
                  'Middle Eastern', 
                  'South Asian', 
                  'Southeast Asian', 
                  'North African', 
                  'Sub-Saharan African', 
                  'European', 
                  'Central Asian', 
                  'East Asian', 
                  'Western', 
                  'Fusion'
                ]), 
                {}, 
                {class: "form-select" } %>
    </div>

    <div>
      <%= form.label :price_range, style: "display: block" %>
      <%= form.select :price_range, options_for_select([['1', 1], ['2', 2], ['3', 3]]), {}, {class: "form-select"} %>
    </div>

    <div>
      <%= form.label :overall_rating, style: "display: block" %>
      <%= form.number_field :overall_rating, class: "form-control" %>
    </div>

    <div>
      <p>Hours of Operations:</p>
      <% %w[sunday monday tuesday wednesday thursday friday saturday].each do |day| %>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label"><%= day.capitalize %></label>
          <div class="col-sm-4">
            <%= form.time_field "#{day}_open", class: 'form-control time-input', value: extract_time(@restaurant.send(day), :open) %>
          </div>
          <label class="col-sm-1 col-form-label text-center">to</label>
            <div class="col-sm-4">
              <%= form.time_field "#{day}_close", class: 'form-control time-input', value: extract_time(@restaurant.send(day), :close) %>
            </div>
        </div>
      <% end %>
    </div>

    <!-- Shafin: Dropzone  -->
    <div>
      <%= form.label :images, "Upload Images" %>
      <%= form.file_field :images, multiple: true, direct_upload: true, class: 'time-input image-upload-field' %>
    </div>

    <div>
      <%= form.submit 'Submit', class: 'btn btn-primary mt-2', type: 'submit' %>
    </div>

  <% end %>

  <div id="flash-alert" class="flash-alert"></div>
</div>


<style>
  .contact-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .contact-card h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .contact-card p {
    margin-bottom: 10px;
  }
  
  .contact-card label {
    display: block;
    margin-bottom: 5px;
  }
  
  .contact-card input,
  .contact-card textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  .time-input::-webkit-resizer {
  display: none;
  }

  .time-input {
    overflow: hidden; /* Hide overflow content */
  }
  
  /* Flash Alert */
  .flash-alert {
    display: none;
    background-color: #C0C0C0;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
  }
  
  .contact-info {
    text-align: center;
    margin-top: 40px;
  }
  
  .contact-info p {
    margin-bottom: 10px;
  }
  
  .contact-info .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  .contact-info .logo {
    display: inline-block;
    margin: 0 10px;
    height: 40px;
    width: 40px;
  }

  .form-control-select {
  -webkit-appearance: none;  /* Removes default chrome and safari style */
  -moz-appearance: none;    /* Removes default style Firefox */
  appearance: none;         /* Removes default style for IE */
  background-image: url('path_to_arrow_image.png'); /* Add your arrow image */
  background-repeat: no-repeat;
  background-position: right 10px center; /* Position the arrow image */
  background-size: 12px; /* Size of the arrow image */
  /* Add other styles as needed (padding, border, etc.) */
}
</style>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    formatPhoneNumber();
    limitFileUploads();
  });

  function formatPhoneNumber() {
    const phoneField = document.getElementById('phone_field');

    phoneField.addEventListener('input', function(e) {
      let input = this.value.replace(/\D/g, ''); // Remove all non-digits
      input = input.substring(0, 10); // Trim the input to 10 digits

      let formattedInput = "";
      for (let i = 0; i < input.length; i++) {
        if (i === 0) formattedInput += "(";
        if (i === 3) formattedInput += ") ";
        if (i === 6) formattedInput += "-";
        formattedInput += input[i];
      }

      this.value = formattedInput;
    });
  }

  function limitFileUploads() {
    const uploadField = document.querySelector('.image-upload-field');

    uploadField.addEventListener('change', function() {
      if (this.files.length > 10) {
        alert('You can only upload a maximum of 10 files.');
        this.value = '';  // Clear the file input
      }
    });
  }
</script>


