<div class="contact-card">
  <%= form_with(model: @restaurant, url: restaurants_path, id: 'restaurant-form') do |form| %>
    <!-- Form fields pre-filled with scraped data -->
    <div>
      <%= form.label :name, style: 'display: block' %>
      <%= form.text_field :name, value: @restaurant.name, class: 'form-control' %>
    </div>

    <div>
      <%= form.label :address, style: 'display: block' %>
      <%= form.text_field :address, value: @restaurant.address, class: 'form-control' %>
    </div>

    <div>
      <%= form.label :phone, style: 'display: block' %>
      <%= form.text_field :phone, value: @restaurant.phone, class: 'form-control' %>
    </div>

    <div>
      <%= form.label :website, style: 'display: block' %>
      <%= form.text_field :website, value: @restaurant.website, class: 'form-control' %>
    </div>

    <div>
      <%= form.label :cuisine, style: 'display: block' %>
      <%= form.text_field :cuisine, value: @restaurant.cuisine, class: 'form-control' %>
    </div>

    <div>
      <%= form.label :price_range, style: 'display: block' %>
      <%= form.text_field :price_range, value: @restaurant.price_range, class: 'form-control' %>
    </div>

    <div>
      <%= form.label :overall_rating, style: 'display: block' %>
      <%= form.number_field :overall_rating, value: @restaurant.overall_rating, class: 'form-control' %>
    </div>

    <!-- Display scraped images -->
    <div class="image-container">
      <% @images.each do |image| %>
        <%= image_tag image, style: 'width: 200px;' %>
      <% end %>
    </div>

    <div>
      <%= form.submit 'Submit', class: 'btn btn-primary mt-2', type: 'submit' %>
    </div>
  <% end %>
</div>
