<div class="image-container" style="position: relative; width: 100%; height: 40vh; overflow: hidden;">
  <% if @restaurant.images.attached? %>
    <%= image_tag @restaurant.images.first.variant(resize_to_fill: [1000, 200]), class: "card-img", alt: "Restaurant Image", style: "object-fit: cover; width: 100%; height: 100%;" %>
  <% else %>
    <%= image_tag "default-restaurant-image.jpg", class: "card-img", alt: "Restaurant Image", style: "object-fit: cover; width: 100%; height: 100%;" %> 
  <% end %>
  <div class="restaurant-info" style="position: absolute; bottom: 30px; left: 10px;">
    <div class="restaurant-name" style="color: white; font-size: 40px; font-weight: bold;">
      <%= @restaurant.name %>
    </div>
    <div class="restaurant-rating d-inline" style="font-size: 20px; font-weight: bold;">
        <% @restaurant.overall_rating.to_i.times do%>
          <i class="bi bi-star-fill red"></i>
        <% end %>   
        <% (5-@restaurant.overall_rating.to_i).times do%>
          <i class="bi bi-star-fill gray"></i>
        <% end %>
        <div class="d-inline text-white">
          <%=@restaurant.overall_rating%>
        </div>
        <div class="restaurant-open-close d-inline" style="font-size: 20px; font-weight: bold;">
        <%= @restaurant.current_open_status %></div>
        </div>
    </div>
  </div>
</div>

<div class="container-fluid p-3">
  <div class="row">
    <div class="col-md-3">
      <div class="rounded p-3 border">
        <div class="d-block text-black" id="Resturant Address">
          <p class="d-inline" style="font-weight: bold;"> Address: </p> 
          <%=@restaurant.address%>
        </div>
        <div class="d-block text-black" id="Resturant Address">
          <p class="d-inline" style="font-weight: bold;"> Hours: </p> 
          <span id="current-day" style="font-style: italic;"></span> <%= @restaurant.send(Time.now.strftime("%A").downcase) %></span>
          <p>
        </div>

      </div>
    </div>
  </div>
</div>


<style>
.star-rating {
  font-size: 50px;
}

.star {
  display: inline-block;
  font-size: inherit;
  color: #FFFFFF; /* Default star color */
}

.star.filled {
  color: #FFAC2D; /* Filled star color */
}

.red{
  color: #DC3545;
}

.gray{
  color: #D3D3D3;
}
</style>

<script>
  const daysOfWeek = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
  const currentDayIndex = new Date().getDay();
  const currentDayName = daysOfWeek[currentDayIndex];

  const currentDayElement = document.getElementById("current-day");
  currentDayElement.textContent = currentDayName;
</script>
